@import '../../sass/colors'
@import '../../sass/responsive'

.homepage-content
  font-size: 36px

  @include phone-style
    font-size: 18px
    text-align: center

  &__title
    margin: 16px 0
    font-size: 64px
    @include text-gradient

    @include phone-style
      margin: 8px 0
      font-size: 32px

    &__name
      font-weight: bold

  &__description
    margin: 24px 0
    font-size: 18px

    @include phone-style
      margin: 24px 64px

  &__surname
    margin: 16px 0

    @include phone-style
      margin: 24px 64px

      &__logo
        display: block
        margin: 0 auto

  &__buttons
    display: flex
    align-items: center
    column-gap: 32px

    a
      width: 208px

    @include phone-style
      justify-content: stretch
      margin-top: 32px
      flex-direction: column
      row-gap: 24px
