$bounce-transition: cubic-bezier(0.175, 0.885, 0.32, 2.175)

@keyframes shake
  25%
    transform: rotate(-25deg)
  50%
    transform: rotate(25deg)
  75%
    transform: rotate(-12deg)

$slow-single-shake: shake 750ms
