@import './colors'
@import './animations'
@import './responsive'

.btn
  display: inline-flex
  justify-content: center
  align-items: center
  padding: 18px 18px

  font-size: 24px
  font-weight: bold
  color: $gray

  background: linear-gradient(90deg, $red, $blue, $red)
  background-size: 200% 100%
  box-shadow: 0px 4px 20px 4px rgba(255, 135, 135, 0.2)
  border-radius: 32px

  transition: background-position 200ms ease-in-out

  @include phone-style
    font-size: 18px

  img
    margin-right: 8px
    transition: transform 400ms $bounce-transition

  &:hover
    background-position: 100% 0

    img
      transform: rotate(-15deg)

  &--outlined
    position: relative
    padding: 22px 18px
    font-size: 16px
    font-weight: 400
    color: $super-light-grey
    background: $gray
    background-clip: padding-box
    box-shadow: none

    &:hover
      @include text-gradient

    &::before
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: -2
      margin: -1px
      border-radius: inherit
      background: $revert-gradient

    &::after
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: -1
      border-radius: inherit
      background: $gray

  &--secondary
    padding: 16px

    font-size: 16px
    font-weight: normal
    color: $super-light-grey

    background: linear-gradient(90deg, rgba($light-gray, 0), $light-gray, $light-gray) 100% 0
    background-size: 200% 100%
    box-shadow: none

    &:hover
      background-position: 0 0

  &--success
    background: $success-gradient
