$light-black: #262626
$gray: #333333
$light-gray: #4F4F4F
$super-light-grey: #F2F2F2
$blue: #2F80ED
$red: #EB5757
$green: #3AC69C

$gradient: linear-gradient(90deg, $red, $blue)
$low-opa-gradient: linear-gradient(90deg, rgba($red, .4), rgba($blue, .4))
$revert-gradient: linear-gradient(90deg, $blue, $red)
$success-gradient: linear-gradient(90deg, rgba($green, 0), $green)

@mixin text-gradient
  background: -webkit-linear-gradient(0deg, $blue, $red)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
