@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap')

@import './animations'
@import './colors'
@import './buttons'
@import './responsive'

body
  margin: 0
  font-family: 'Sen', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  background-color: $gray
  color: white
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  text-decoration: none
  color: inherit

p
  font-size: 18px

button
  background: none
  border: none
  cursor: pointer
  margin: 0
  padding: 0

  &:focus
    outline: none

ul
  list-style: none
  margin: 0
  padding: 0
