@import '../sass/responsive'

.homepage
  width: 100%
  margin-top: 256px
  display: flex
  justify-content: center
  gap: 72px

  @include phone-style
    gap: 32px
    margin: 128px 0
    height: initial
    flex-direction: column
    align-items: center

  &__illustration
    object-fit: contain

    @include phone-style
      width: 75%
