@import '../../sass/colors'
@import '../../sass/animations'

$navbar-height: 64px
$navbar-height-open: 577px
$amazing-dragon-width: 186px

.navbar--mobile
  position: fixed
  top: 0
  left: 0
  right: 0
  height: $navbar-height
  padding: 0 32px
  background-color: $light-black
  display: flex
  justify-content: end
  align-items: center
  overflow: hidden

  z-index: 10

  transition-property: height
  transition-duration: 250ms
  transition-timing-function: linear

  &::before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $low-opa-gradient
    opacity: 0
    z-index: -1
    backdrop-filter: blur(64px)

    transition-property: opacity, border-radius
    transition-duration: 500ms
    transition-timing-function: ease-in-out

  &--open
    height: $navbar-height-open
    background: none
    border-radius: 0 0 32px 32px

    &::before
      opacity: 1

  &__amazing-dragon
    position: absolute
    top: 16px
    left: 16px
    width: $amazing-dragon-width

    transition-property: filter, opacity, transform
    transition-duration: 350ms
    transition-timing-function: ease-in-out

    &--menu-open
      filter: grayscale(80%)
      opacity: 0.4
      transform: translate3d(0, calc(50% - 16px), 0)

  &__burger-button
    position: absolute
    top: 23px
    right: 16px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    width: 32px
    height: 18px
    transition-property: transform, width, height
    transition-duration: 350ms
    transition-timing-function: $bounce-transition

    span
      width: 100%
      height: 2px
      background: $gradient
      transition-property: transform, opacity
      transition-duration: 500ms
      transition-timing-function: $bounce-transition

      &:nth-child(2)
        width: 75%

    &--menu-open
      width: 32px
      height: 32px
      border-radius: 8px
      background: $revert-gradient

      transform: rotate(45deg)

      span
        width: 12px
        background: white
        border-radius: 8px

        &:nth-child(1)
          transform: translate3d(0, 15px, 0)

        &:nth-child(2)
          opacity: 0

        &:nth-child(3)
          transform: translate3d(0, -15px, 0) rotate(-90deg)

  &__navigation
    position: absolute
    top: 50%
    left: calc(50% + 48px)
    transform: translate3d(250%, -50%, 0)
    transition: transform 300ms ease-in-out
    transition-delay: 300ms

    &--menu-open
      transform: translate3d(0, -50%, 0)

    &--current-page
      font-weight: bold
      color: white

    ul
      li
        color: #E0E0E0

        &::after
          content: ''
          display: block
          margin: 32px 0
          width: 25%
          height: 2px
          background-color: rgba($super-light-grey, 0.2)

        &:first-child
          &::before
            content: ''
            display: block
            margin-bottom: 32px
            width: 25%
            height: 2px
            background-color: rgba($super-light-grey, 0.2)

        &:last-child
          &::after
            margin-bottom: 0

        img
          margin-right: 8px
