@import '../../sass/colors'
@import '../../sass/animations'

$navbar-height: 96px
$amazing-dragon-width: 288px
$amazing-dragon-firing-width: $amazing-dragon-width * 0.75
$amazing-dragon-width-diff: $amazing-dragon-width - $amazing-dragon-firing-width

.navbar--desktop
  position: fixed
  top: 0
  left: 0
  right: 0
  height: $navbar-height
  padding: 0 32px
  background-color: $light-black
  display: flex
  justify-content: space-between
  align-items: center
  overflow: hidden

  &__amazing-dragon
    position: absolute
    top: 20px
    width: $amazing-dragon-width
    transition-property: width, transform
    transition-duration: 450ms
    transition-timing-function: $bounce-transition

    &:hover
      width: $amazing-dragon-firing-width
      transform: rotate(-25deg) translate3d(calc(#{$amazing-dragon-width-diff} / 2), calc(#{$amazing-dragon-width-diff} / 4), 0)

  &__links
    margin-left: $amazing-dragon-width + 32px
    display: flex

    &__link
      display: flex
      align-items: center
      font-size: 18px

      &::after
        content: url('../../images/navbar-divider.svg')
        display: block
        margin: 0 16px

      &:last-child
        &::after
          display: none

      &--current-page
        font-weight: bold

        &__dot
          margin-right: 8px
