@import '../../sass/animations'

.socials
  display: flex
  align-items: center
  column-gap: 16px

  &__hi
    display: flex
    align-items: center
    column-gap: 8px

    &:hover
      img
        animation: $slow-single-shake
