@import '../../sass/colors'
@import '../../sass/responsive'

.under-construction-banner
  position: fixed
  left: 0
  right: 0
  bottom: 0
  padding: 64px 32px
  text-align: center
  background: $low-opa-gradient
  backdrop-filter: blur(64px)
  border-top-left-radius: 32px
  border-top-right-radius: 32px

  @include phone-style
    text-align: left

  img
    display: block
    margin: 0 auto
    margin-bottom: 8px

    @include phone-style
      margin: 0 0 8px 0

  &__close
    position: absolute
    top: 32px
    right: 32px
